@charset "utf-8";
/* zd CSS Document */
@keyframes up_and_down{
	from{ transform:translateY(0) scale(.9,.9);}
	to{ transform:translateY(18px) scale(1,1);}
}
@-webkit-keyframes up_and_down{
	from{ -webkit-transform:translateY(0) scale(.9,.9);}
	to{ -webkit-transform:translateY(18px) scale(1,1);}
}

#container{}

header{ background:#f7f6f8; height:60px; min-width:1040px;}
#header{ width:1000px; padding:0 20px; height:60px; line-height:60px; margin:0 auto;}
#header h1{ float:left; margin-top:14px;}
#header h1 a{ background:url(../img/logo.png) no-repeat; display:block; width:110px; height:34px; text-indent:-9999px;}
#header p{ float:right; height:60px; line-height:60px;color:#ccc;}
#header p a{ font-weight:bold; color:#414657;}
#header p a:hover{ color:#0EA303;}

.banner_bg{ background:url(../img/banner.jpg) no-repeat center 0; min-width:1040px; height:568px;}
#banner{ position:relative; width:1000px; padding:0 20px;margin:0 auto;height:568px;}
#banner p{ position:absolute; top:354px; left:20px;}
#banner p a{ margin-right:36px;}
#banner a.down{ background:url(../img/icon.png) no-repeat; display:block; width:84px; height:44px; position:absolute; left:50%; bottom:36px; transform:scale(.9,.9);-webkit-transform:scale(.9,.9);}
#banner a:hover.down{/*transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);*/ animation:up_and_down .45s ease-out alternate infinite;-webkit-animation:up_and_down .45s ease-out alternate infinite;}
.row1_bg{ background:#f0f0f0; min-width:1040px; padding-top:70px; padding-bottom:40px;}
#row1{width:1000px;padding:0 20px;margin:0 auto;}
#row1 h2{ text-indent:-9999px;background:url(../img/icon.png) no-repeat center -50px; height:60px;}
#row1 ul{margin-top:70px}
#row1 ul li{background:url(../img/icon.png) no-repeat; width:310px; height:130px; padding-left:130px;}
#row1 ul li.one{float:left; background-position:0 -120px;}
#row1 ul li.two{float:right;background-position:0 -304px;}
#row1 ul li.thr{float:left; margin-top:64px;background-position:0 -488px;}
#row1 ul li.fou{float:right; margin-top:64px;background-position:0 -672px;}
#row1 ul li h4{ font-size:16px; color:#333; margin:4px 0;}
#row1 ul li p{ color:#999;}


.row2_bg{background:#27a816; min-width:1040px;}
#row2{width:1000px;padding:90px 20px 70px;margin:0 auto; background:url(../img/yshe.png) no-repeat 278px 56px;}
#row2 h2{text-indent:-9999px;background:url(../img/icon.png) no-repeat 488px -856px; height:60px;}
#row2 ul{ margin-left:76px; margin-top:128px;}
#row2 ul li{ width:260px; float:left; margin-right:40px;}
#row2 ul li h4{ background:#333; font-size:16px; font-weight:bold; color:#fff; height:40px; line-height:40px; position:relative; padding:0 10px;}
#row2 ul li h4 a{ color:#fff; font-size:12px; position:absolute; right:10px; top:0;}
#row2 ul li h4 a:hover{ opacity:0.6; filter:alpha(opacity=60);}
#row2 ul li p{ width:100%; height:310px; background:#fcfcfc; overflow:auto;}
#row2 ul li p a{ display:block; font-size:12px; color:#292b30; padding:0 10px;}
#row2 ul li p a:hover{ background:#eee;}

.row3_bg{ background:#f0f0f0;min-width:1040px;}
#row3{width:1000px;padding:60px 20px 0;margin:0 auto;height:890px; position:relative;}
#row3 h2{text-indent:-9999px;background:url(../img/change.png) no-repeat center center; height:160px;}
.a_scale{ position:absolute; left:106px; top:226px; transform:scale(0,0);-webkit-transform:scale(0,0); transition:all .4s linear;}
.appear{transform:scale(1,1);-webkit-transform:scale(1,1);}
#cent{position:absolute; left:420px; top:414px; z-index:99;}

.row4_bg{ background:#079597;min-width:1040px; overflow:hidden;}
#row4{width:1000px;padding:60px 20px 0;margin:0 auto;height:610px; position:relative;}
#row4 h2{text-indent:-9999px;background:url(../img/icon.png) no-repeat center -956px; height:80px;}


#jt{position:absolute; left:128px; bottom:0;}
#jt img{ position:absolute; bottom:0;transition:all 0.4s linear;transform:translateY(500px);-webkit-transform:translateY(500px);}
#jt img.su{ transform:translateY(0);-webkit-transform:translateY(0);}


a.kf{position:absolute; right:96px; top:220px; transition:all 0.65s linear;transform:rotate(180deg) scale(0,0);-webkit-transform:rotate(180deg) scale(0,0); opacity:0;}
a.ro{ transform:rotate(360deg) scale(1,1);-webkit-transform:rotate(360deg) scale(1,1); opacity:1;}
a:hover.kf{ opacity:.6;}
a.kf img{ display:block;}
footer{background:#f0f0f0;min-width:1040px;}
#footer{width:1000px;padding:80px 20px 30px;margin:0 auto;}
#footer h2{background:url(../img/icon.png) no-repeat 420px -1056px; height:80px; line-height:80px; font-size:100px; font-family:Tahoma, Geneva, sans-serif; color:#0ea303; padding-left:80px; font-weight:100;}
#footer h2 span{width:0; overflow:hidden; visibility:hidden;}
#footer h4{ text-align:center; margin-top:80px; margin-bottom:170px;}
#footer h4 a.ios{ margin-right:80px;}
#footer h4 a:hover{ opacity:.8;}
#footer p{ text-align:center;color:#ccc;font-size:12px;}
#footer p a{ color:#aaa;font-size:12px;}
#footer p a:hover{ text-decoration:underline;}
#footer p img{ margin-top:20px;}

#hanger{ position:fixed;_position:absolute; right:1%; top:140px;}
#hanger li{ margin-top:8px;}
#hanger li a{ display:block; width:60px; height:60px; opacity:.8;transition:opacity .2s ease-in-out;}
#hanger li a:hover,#hanger li a.cur{ opacity:1;}

#hanger li.one a{background:url(../img/hanger/1.png) no-repeat;}
#hanger li.two a{background:url(../img/hanger/2.png) no-repeat;}
#hanger li.thr a{background:url(../img/hanger/3.png) no-repeat;}
#hanger li.fou a{background:url(../img/hanger/4.png) no-repeat;}
#hanger li.fiv a{background:url(../img/hanger/5.png) no-repeat;}

#hanger li.one a.cur{background:url(../img/hanger/1a.png) no-repeat;}
#hanger li.two a.cur{background:url(../img/hanger/2a.png) no-repeat;}
#hanger li.thr a.cur{background:url(../img/hanger/3a.png) no-repeat;}
#hanger li.fou a.cur{background:url(../img/hanger/4a.png) no-repeat;}
#hanger li.fiv a.cur{background:url(../img/hanger/5a.png) no-repeat;}